body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.active {
    position: relative;
    left: -60px;
}

h2 {
    font-style: italic;
 }

a {
    text-decoration: none;
    color: red;
}

p {
   font-size: 1.5em;
}

li {
   font-size: 1.75em;
}

pre {
    font-size: 1.50em;
}

#step-9 img {
    position: relative;
    left: 80px;
}

#step-10 img {
    position: relative;
    left: 80px;
}

#step-15 img {
    padding: 0px 50px 0px 50px;
}

#step-15 .olimex2 {
    position: relative;
    top: -100px;
}

